.wrapper{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100vw;
  }
  .traff-cont{
    justify-content: center;
    background-color: #000;
    border-radius:7px;
    display:flex;
    flex-direction:column;
    padding: 10px;
    gap: 10px;
    
  }
  .traffic-light{
    --size:50px;
    background-color: #555;
    border-radius :var(--size);
    height: var(--size);
    width: var(--size);
    
  }
  .pole{
    position: absolute;
    border:10px solid rgb(201, 95, 20);
    
    height: 25vh;
    top:65.35vh;
z-index: -1;
  }